.mat-card-content {
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
      flex-grow: 2;
  }
  
  .mat-icon {
    margin-right: 25px;
    font-size: 25px;
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  
  #div_create_button {
    text-align: center;
    margin-top: 10px;
  }
  
  button {
    background: #427af4; 
    color: white;
    border-radius: 15px;
    width: 100%;
  }
  
  input {
    border-radius: 15px;
  }

  hr {
    background: gray;
  }